<div id="banner">
  <p>
      <a href="https://medium.com/bithereum-network/introducing-proof-of-uptime-7e91256aabf1" target="_blank"><strong>Earn BTH by running a Bithereum full node</strong>. As little as 8GB of free space needed!</a>
  </p>
</div>
<header>
    <a href="/" class="logo"><h1>Bithereum</h1></a>
    <div class="links">
        <a href="/#!/resources" class="link">Resources</a>
        <a href="https://medium.com/bithereum-network/btc-eth-holder-redemption-guide-for-bth-72d6632b04af" class="link" target="_blank">Redeem</a>
        <a href="/#!/ourteam" class="link">Our Team</a>
        <a href="/whitepaper" class="link">White Paper</a>
        <a href="/#!/faq" class="link">FAQ</a>
    </div>
</header>
