<ng-include src="'/views/pages/header.html'"></ng-include>
<ng-include src="'/views/pages/section-resources.html'"></ng-include>
<ng-include src="'/views/pages/section-miningpools.html'"></ng-include>
<ng-include src="'/views/pages/section-exchanges.html'"></ng-include>
<ng-include src="'/views/pages/section-wallets.html'"></ng-include>
<ng-include src="'/views/pages/section-explorers.html'"></ng-include>
<ng-include src="'/views/pages/section-priceaggregators.html'"></ng-include>
<ng-include src="'/views/pages/footer.html'"></ng-include>
