<section data-name="faq">
    <div data-name="logo"></div>
    <div class="holder">
        <h1>Frequently Asked Questions</h1>
        <p>Check out the list of commonly asked questions. Alternatively if you are in need of any support related questions, feel free to reach out to the Bithereum team by email at <a href="info@bithereum.network" target="_blank">info@bithereum.network</a> or <a href="https://t.me/BithereumNetwork" target="_blank">Telegram</a>.</p>
        <div data-name="entries">
            <div data-name="entry">
                <h4>When will the hard fork occur?</h4>
                <p>The hard fork occurred at Bitcoin block 555,555, on December 26th.</p>
            </div>
            <div data-name="entry">
                <h4>What is the total supply?</h4>
                <p>The total supply of Bithereum is 30,886,000 BTH. This number also includes a total of 2,730,450 BTH for ETH holder redemption. More details about our hard spoon snapshot taken on December 12th, 2018 can be found here: <a href="https://medium.com/bithereum-network/bithereums-hard-spoon-snapshot-is-complete-c1814024ea9a" target="_blank">https://medium.com/bithereum-network/bithereums-hard-spoon-snapshot-is-complete-c1814024ea9a</a></p>
            </div>
            <div data-name="entry">
                <h4>How will Bitcoin holders be able to redeem Bithereum?</h4>
                <p>Since BTH will start out as a direct descendent of BTC, all BTC holders will be able to claim their BTH in the same way they would with any other hard fork of Bitcoin, at a 1:1 BTH to BTC ratio. To get started with obtaining BTH, it is advised that all BTC holders should move their BTC to an entirely new wallet as this prevents any scenarios where coins are lost by spending on either chain. With the Bitcoins safely moved to a new address (created after spork block 555,555) the private key associated with the old BTC wallet can be imported into a Bithereum wallet. With the BTC holder's old BTC wallet imported into the BTH wallet client, a BTC holder will be able to see how much BTH they have based on their BTC balance prior to block 555,555.</p>
                <p>Step-by-step instructions for redeeming BTH are in the following tutorial: <a href="https://medium.com/bithereum-network/btc-eth-holder-redemption-guide-for-bth-72d6632b04af" target="_blank">https://medium.com/bithereum-network/btc-eth-holder-redemption-guide-for-bth-72d6632b04af</a></p>
            </div>
            <div data-name="entry">
                <h4>How will Ethereum holders be able to redeem Bithereum?</h4>
                <p>Although Bithereum is a fork of Bitcoin, BTH will be utilizing a portion of Ethereum’s vision and has introduced a mechanism that will give ETH holders the ability to redeem BTH as well. All ETH will be redeemable at a ratio of 38 ETH: 1 BTH. This was based on the ETH:BTC price ratio at the time of our hard-spoon snapshot of Ethereum on December 12th.</p>
                <p>To ensure redemption of BTH as an ETH holder, one must send a 0 (zero) ETH transaction to our ETH Redemption Smart Contract with the public key to their newly created Bithereum wallet in the data field. For anyone with ETH in multiple wallets, this process must be repeated for each address, however you can provide the same Bithereum address in the data field for the corresponding BTH to be released into the same wallet.</p>
                <p>For a step by step tutorial, please see this blog: <a href="https://medium.com/bithereum-network/btc-eth-holder-redemption-guide-for-bth-72d6632b04af" target="_blank">https://medium.com/bithereum-network/btc-eth-holder-redemption-guide-for-bth-72d6632b04af</a></p>
                <p>Note: Distribution for ETH holder redemption will begin sometime in January. We will release an announcement once it commences.</p>
            </div>
        </div>
    </div>
</section>
