<section data-name="ourteam">
    <div data-name="logo"></div>
    <div class="holder">
        <h1>Core Team</h1>
        <p>The Bithereum team is rich with experience and understanding of decentralized networks.</p>
        <div data-name="team">
            <div data-name="member">
                <div data-name="sachit" style='background-image: url(/assets/images/team/team_sachit.jpg)'></div>
                <strong>Sachit Singh</strong>
                <span>Founder, Head of Operations</span>
                <div class="links">
                    <a href="https://www.linkedin.com/in/sachit-singh-b2a873ab/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div data-name="member">
                <div data-name="scott" style='background-image: url(/assets/images/team/team_scott.jpg)'></div>
                <strong>Scott Wade</strong>
                <span>Founder, Head of Communications</span>
                <div class="links">
                    <a href="https://www.linkedin.com/in/scott-wade-401b20105/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div data-name="team">
            <div data-name="member">
                <div data-name="sanjay" style='background-image: url(/assets/images/team/team_sanjay.jpg)'></div>
                <strong>Sanjay Kripalani</strong>
                <span>Partner, UAE Business Dev.</span>
                <div class="links">
                    <a href="https://www.linkedin.com/in/sanjay-kripalani-8855b115a/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div data-name="member">
                <div data-name="dondrey" style='background-image: url(/assets/images/team/team_dondrey.png)'></div>
                <strong>Dondrey Taylor</strong>
                <span>Core Developer</span>
                <div class="links">
                    <a href="https://github.com/dondreytaylor" target="_blank"><i class="fab fa-github"></i></a>
                </div>
            </div>
            <div data-name="member">
                <div data-name="samit" style='background-image: url(/assets/images/team/team_samit.png)'></div>
                <strong>Samit Singh</strong>
                <span>Lead Strategist</span>
                <div class="links">
                    <a href="https://www.linkedin.com/in/singhsamit/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
