<section data-name="resource-section">
    <div class="holder">
        <div data-name="subsection">
            <h3>Wallets</h3>
            <p>Send, receive, and store your BTH using the following wallet of your choice.</p>
            <div data-name="wallets">
                <div data-name="wallet">
                    <a href="https://github.com/BTHPOS/BTH/releases" target="_blank">
                        <div style='background-image: url(/assets/images/resources/wallet-bthcore.png);'></div>
                        <span><span></span> BTH Core</span>
                    </a>
                </div>
                <div data-name="wallet">
                    <a href="https://guarda.co/" target="_blank">
                        <div style='background-image: url(/assets/images/resources/wallet-guarda.png);'></div>
                        <span><span></span> Guarda</span>
                    </a>
                </div>
                <div data-name="wallet">
                    <a href="https://github.com/BTHPOS/electrum/releases" target="_blank">
                        <div style='background-image: url(/assets/images/resources/wallet-electrumbth.png);'></div>
                        <span><span></span> ElectrumBTH</span>
                    </a>
                </div>
                <div data-name="wallet">
                    <a href="https://zeltrez.io/" target="_blank">
                        <div style='background-image: url(/assets/images/resources/wallet-zelcore.png);'></div>
                        <span><span></span> ZelCore</span>
                    </a>
                </div>
                <div data-name="wallet">
                    <a href="https://www.ledger.fr/" target="_blank">
                        <div style='background-image: url(/assets/images/resources/wallet-ledger.png);'></div>
                        <span><span></span> Ledger</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
