<section data-name="resource-section">
    <div class="holder">
        <div data-name="subsection">
            <h3>Explorers</h3>
            <p>View blocks and transactions using any of the following block explorers. </p>
            <div data-name="indicators">
                <div data-name="indicator">
                    <span data-status="available"></span>Available
                </div>
                <div data-name="indicator">
                    <span data-status="coming-soon"></span> Coming Soon
                </div>
            </div>
            <div data-name="explorers">
                <div data-name="explorer">
                    <a href="http://insight.bithereum.network/insight/" target="_blank">
                        <div style='background-image: url(/assets/images/resources/explorer-bitcore.png);'></div>
                        <span><span data-status="available"></span>  Bitcore Insight</span>
                    </a>
                </div>
                <div data-name="explorer">
                    <a href="https://github.com/BTHPOS/explorer-iquidus" target="_blank">
                        <div style='background-image: url(/assets/images/resources/explorer-iquidus.png);'></div>
                        <span><span data-status="available"></span>  Iquidus</span>
                    </a>
                </div>
                <div data-name="explorer">
                    <a href="https://github.com/BTHPOS/btc-rpc-explorer" target="_blank">
                        <div style='background-image: url(/assets/images/resources/explorer-btcrpc.png);'></div>
                        <span><span data-status="coming-soon"></span>  RPC Explorer</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
