<section data-name="resource-section">
    <div class="holder">
        <div data-name="subsection">
            <h3>Mining <span>Pools</span></h3>
            <p>Whether you have one miner or a bunch of miners, a pool allows you to earn Bithereum by distributing the work required to mine it with others. Choose a pool to connect your miners to.</p>
            <div data-name="pools">
                <div data-name="pool">
                    <a href="http://pool.bithereum.network" target="_blank">
                        <div style='background-image: url(/assets/images/resources/pool-bithereum.png);'></div>
                        <span>BTH Pool</span>
                    </a>
                </div>
                <div data-name="pool">
                    <a href="https://bth.equihub.pro/" target="_blank">
                        <div style='background-image: url(/assets/images/resources/pool-equihub.png);'></div>
                        <span>EQUIHUB</span>
                    </a>
                </div>
                <div data-name="pool">
                    <a href="http://bth.altpool.pro/" target="_blank">
                        <div style='background-image: url(/assets/images/resources/pool-altpool.png);'></div>
                        <span>ALTPOOL</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
