<section data-name="resource-section">
    <div class="holder">
        <div data-name="subsection">
            <h3>Mining <span>Pools</span></h3>
            <p>Whether you have one miner or a bunch of miners, a pool allows you to earn Bithereum by distributing the work required to mine it with others. Choose a pool to connect your miners to.
            <div data-name="pools">
                <div data-name="pool">
                    <a href="http://pool.bithereum.network" target="_blank">
                        <div style='background-image: url(/assets/images/resources/pool-bithereum.png);'></div>
                        <span>BTH Pool</span>
                    </a>
                </div>
                <div data-name="pool">
                    <a href="https://bth.equihub.pro/" target="_blank">
                        <div style='background-image: url(/assets/images/resources/pool-equihub.png);'></div>
                        <span>EQUIHUB</span>
                    </a>
                </div>
                <div data-name="pool">
                    <a href="http://bth.altpool.pro/" target="_blank">
                        <div style='background-image: url(/assets/images/resources/pool-altpool.png);'></div>
                        <span>ALTPOOL</span>
                    </a>
                </div>
                <div data-name="pool">
                    <a href="http://bth.altcoinzone.xyz/" target="_blank">
                        <div style='background-image: url(/assets/images/resources/pool-altcoinzone.png);'></div>
                        <span>AltcoinZone</span>
                    </a>
                </div>
                <div data-name="pool">
                    <a href="https://zpool.ca/" target="_blank">
                        <div style='background-image: url(/assets/images/resources/pool-zpool.png);'></div>
                        <span>ZPool</span>
                    </a>
                </div>
                <div data-name="pool">
                    <a href="https://bthmine.site/" target="_blank">
                        <div style='background-image: url(/assets/images/resources/pool-bthmine.png);'></div>
                        <span>BTHmine</span>
                    </a>
                </div>
            </div>
            <p><small>You can also track the hashrate and status of all public <a href="https://miningpoolstats.stream/bithereum" target="_blank">Bithereum pools on MiningPoolStats</a>.</small></p>
        </div>
    </div>
</section>
