<section data-name="hardspork">
    <div class="holder">
         <h3>The World's First Hard Spork</h3>
         <p>Bithereum is a coin that benefits both chains and is the first hard spork of its kind. BTH is a coin that brings together the best aspects of all prior BTC forks, while also incentivizing everyone on the network. Bithereum addresses the pain points that are prevalent in past forks and has implemented a PoS-influenced incentive model called PoU, or Proof-of-Uptime.</p>
        <div data-name="logo"></div>
        <div data-name="points" class="holder">
            <div data-name="point">
                <strong>Democratization</strong>
                <p>BTH began mining through an Equihash <144,5> Proof of Work algorithm, a democratized mining structure that brings mining back to GPUs.</p>
            </div>
            <div data-name="point">
                <strong>Full Node Rewards</strong>
                <p>Though full nodes are crucial to a network, there are no rewards in place for those running them, aside from increased security. In the Bithereum Network, everyone who runs a full node is rewarded with BTH through our rewards initiative, PoU.</p>
            </div>
            <div data-name="point">
                <strong>Improved Consensus</strong>
                <p>Blockchain is built behind the idea of a consensus network and the divide within BTC has hindered this. PoU prioritizes consensus in the blockchain.</p>
            </div>
            <div data-name="point">
                <strong>Segregated Witness</strong>
                <p>Increased block-size as an on-chain scaling approach, creating scalability for world wide usage and growth.</p>
            </div>
            <div data-name="point">
                <strong>Lightning Network</strong>
                <p>Moves transactions off chain into channels which report back to the main chain. This process allows for a greater amount of data to be stored on each block, increasing transaction speed while lowering costs.</p>
            </div>
            <div data-name="point">
                <strong>Replay Protection</strong>
                <p>A complete two-way replay protection mechanism is implemented to ensure that holders transact on the correct chain.</p>
            </div>
        </div>
    </div>
</section>
