<section data-name="resource-section">
    <div class="holder">
        <div data-name="subsection">
            <h3>Price <span>Aggregators</span></h3>
            <p>View and track both the current and historical price of BTH.</p>
            <div data-name="aggregators">
                <div data-name="aggregator">
                    <a href="https://blockfolio.com/coin/BTH_3" target="_blank">
                        <div style='background-image: url(/assets/images/resources/aggregator-blockfolio.png);'></div>
                        <span>Blockfolio<br><small>(Also on Signal)<small></span>
                    </a>
                </div>
                <div data-name="aggregator">
                    <a href="https://www.worldcoinindex.com/coin/bithereum" target="_blank">
                        <div style='background-image: url(/assets/images/resources/aggregator-worldcoinindex.png);'></div>
                        <span>World Coin Index</span>
                    </a>
                </div>
                <div data-name="aggregator">
                    <a href="https://www.livecoinwatch.com/price/Bithereum-BTH" target="_blank">
                        <div style='background-image: url(/assets/images/resources/aggregator-livecoinwatch.png);'></div>
                        <span>Live Coin Watch</span>
                    </a>
                </div>
                <div data-name="aggregator">
                    <a href="https://www.coingecko.com/en/coins/bithereum" target="_blank">
                        <div style='background-image: url(/assets/images/resources/aggregator-coingecko.png);'></div>
                        <span>Coingecko</span>
                    </a>
                </div>
                <div data-name="aggregator">
                    <a href="https://coincodex.com/crypto/bithereum/" target="_blank">
                        <div style='background-image: url(/assets/images/resources/aggregator-coincodex.png);'></div>
                        <span>Coincodex</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
