<section data-name="miningincentives">
    <div class="holder">
        <div data-name="points">
            <div data-name="point">
                <h3>REVOLUTIONIZING MINING WITH PROOF-OF-STAKE</h3>
                <p>Bithereum’s answer to todays mining issues. PoS is blockchain consensus method that allows users to stake their holdings to participate in finalizing blocks. Simply put, it reduces the need for expensive hardware, mitigates high energy costs, and increases network security, making it the ideal form of consensus.</p>
            </div>
            <div data-name="point">
                <h3>TOP TO BOTTOM INCENTIVES</h3>
                <p>The Bithereum Network rewards every participant in the network. The ultimate vision of the network is fully inclusive and incentivized: from miners, to full nodes, to holders who wish to stake, every member of the community has the ability to earn incentives and be an essential part of keeping the network alive and secure.</p>
            </div>
        </div>
        <div data-name="coins">
            <div data-name="coin"></div>
            <div data-name="coin"></div>
            <div data-name="coin"></div>
            <div data-name="coin"></div>
            <div data-name="coin"></div>
        </div>
    </div>
</section>
