<section data-name="hardspork">
    <div class="holder">
         <h3>The World's First Hard Spork</h3>
         <p>Bithereum is a coin that benefits both chains, and is the first hard spork of its kind. BTH is a coin that brings together the best aspects of all prior BTC forks, while also revolutionizing Bitcoin mining. Bithereum addresses the pain points that are prevalent in both of these past forks and will implement a PoS mining model.</p>
        <div data-name="logo"></div>
        <div data-name="points" class="holder">
            <div data-name="point">
                <strong>Democratization</strong>
                <p>Prior to shifting to Proof-of-Stake, BTH will begin mining through a Equihash <144,5> Proof of Work algorithm, a democratized mining structure that will bring mining back to the people.</p>
            </div>
            <div data-name="point">
                <strong>Scalability</strong>
                <p>Rather than relying on one solution, BTH utilizes a multitude of scaling solutions including PoS, Lightning Network, and Segregated Witness, all the while exploring the future roadmap of Ethereum.</p>
            </div>
            <div data-name="point">
                <strong>Improved Consensus</strong>
                <p>Blockchain is built behind the idea of a consensus network and the divide within BTC has hindered this. PoS mining once again prioritizes consensus in the blockchain.</p>
            </div>
            <div data-name="point">
                <strong>Segregated Witness</strong>
                <p>Increased block-size as an on-chain scaling approach, creating scalability for world wide usage and growth.</p>
            </div>
            <div data-name="point">
                <strong>Lightning Network</strong>
                <p>Moves transactions off chain into channels which report back to the main chain. This process allows for a greater amount of data to be stored on each block, increasing transaction speed while lowering costs.</p>
            </div>
            <div data-name="point">
                <strong>Replay Protection</strong>
                <p>A complete two-way replay protection mechanism will be implemented to ensure that holders transact on the correct chain.</p>
            </div>
        </div>
    </div>
</section>
