<section data-name="resource-section">
    <div class="holder">
        <div data-name="subsection">
            <h3>Exchanges</h3>
            <p>The following exchanges are trading or are currently integrating BTH.</p>
            <div data-name="indicators">
                <div data-name="indicator">
                    <span data-status="now-trading"></span> Now trading
                </div>
                <div data-name="indicator">
                    <span data-status="coming-soon"></span> Coming Soon
                </div>
            </div>
            <div data-name="exchanges">
                <div data-name="exchange">
                    <a href="https://www.instantbitex.com/trade/pair/BTH_BTC" target="_blank">
                        <div style='background-image: url(/assets/images/resources/exchange-instantbitex.png);'></div>
                        <span><span data-status="now-trading"></span> InstantBitex</span>
                    </a>
                </div>
                <div data-name="exchange">
                    <a href="javascript:void(0);" target="_blank">
                        <div style='background-image: url(/assets/images/resources/exchange-p2p.jpg);'></div>
                        <span><span data-status="coming-soon"></span> P2PB2B</span>
                    </a>
                </div>
                <div data-name="exchange">
                    <a href="https://lescovex.com/" target="_blank">
                        <div style='background-image: url(/assets/images/resources/exchange-lescovex.png);'></div>
                        <span><span></span> Lescovex</span>
                    </a>
                </div>
                <div data-name="exchange">
                    <a href="https://bisq.network/" target="_blank">
                        <div style='background-image: url(/assets/images/resources/exchange-bisq.png);'></div>
                        <span><span></span> Bisq</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
