<section data-name="resources">
    <div data-name="logo"></div>
    <div class="holder">
        <h1>Resources</h1>
        <p>Everything that you need to get started using Bithereum can be found here. Alternatively if you are in need of any support related questions, feel free to reach out to the Bithereum team by email at <a href="info@bithereum.network" target="_blank">info@bithereum.network</a> or <a href="https://t.me/BithereumNetwork" target="_blank">Telegram</a>.</p>
        <div data-name="subsection">
            <h3>Getting <span>Started</span></h3>
            <p>Here is a complete list of tutorials that encompases every aspect of Bithereum. For further blogs and updates check out the <a href="javascript:void(0);">Bithereum medium page</a>.</p>
            <div class="links">
                <a href="https://medium.com/bithereum-network/bithereum-redemption-rundown-4ec3c435ed49" target="_blank">Bithereum Redemption Guide for BTC and ETH Holders </a>
                <a href="https://medium.com/bithereum-network/how-to-mine-bithereum-37c634b291bb" target="_blank">How to Mine Bithereum</a>
                <a href="https://github.com/BTHPOS/BTH/releases" target="_blank">How to Run a Bithereum Full Node</a>
            </div>
        </div>
    </div>
</section>
